APP_NAME=mm-proxy
ACCESS_TOKEN=secret
DOMAIN=localhost
DATABASE_URL=mongodb://localhost/mm-proxy
DATA_DIR=/data/mm-proxy
DEBUG=True
USE_HTTPS=False

DOCKER_REGISTRY=site.com
DOCKER_BUILD_PLATFORM=linux/arm64
# linux/arm64, linux/amd64