{% extends "inc/base.j2" %}
{% block content %}
  <div class="menu">
    <h3>proxies / {{ proxies | length }}</h3>
  </div>
  <br>

  <table class="table table-sm sortable">
    <thead>
    <tr>
      <th>ip</th>
      <th>status</th>
      <th>source</th>
      <th>protocol</th>
      <th>ok_count</th>
      <th>down_count</th>
      <th>check</th>
      <th>url</th>
      <th>view</th>
    </tr>
    </thead>
    <tbody>
    {% for p in proxies %}
      <tr>
        <td>{{ p.ip }}</td>
        <td>{{ p.status.value }}</td>
        <td>{{ p.source }}</td>
        <td>{{ p.protocol.value }}</td>
        <td>{{ p.history_ok_count }}</td>
        <td>{{ p.history_down_count }}</td>
        <td><a href="/api-post/proxies/{{ p.id }}/check">check</a></td>
        <td><a href="/api/proxies/{{ p.id }}/url">view</a></td>
        <td><a href="/api/proxies/{{ p.id }}">view</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}
