{% extends "inc/base.j2" %}
{% block content %}
  <div class="menu">
    <h3>sources</h3>
  </div>
  <br>

  <table class="table table-sm">
    <thead>
    <tr>
      <th>id</th>
      <th>link</th>
      <th>items</th>
      <th>default</th>
      <th>proxies</th>
      <th>live</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for s in sources %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.link | empty }}</td>
        <td>{{ s.items | length }}</td>
        <td>{{ 'default' if s.default }}</td>
        <td>{{ s.proxies_count }}</td>
        <td>{{ count_live_proxies[s.id] }}</td>
        <td>{{ s.checked_at | dt }}</td>
        <td>{{ dropdown([
        ("/set-items/"+s.id, "set items"),
        ("/set-default/"+s.id, "set default"),
        ("/api-post/sources/"+s.id+"/clear-default", "clear default", "confirm"),
        ("/api-post/sources/"+s.id+"/delete-proxies", "delete proxies", "confirm"),
        ("/api-post/sources/"+s.id+"/check", "check"),
        ("/api-delete/sources/"+s.id, "delete", "confirm"),
        ("/api/sources/"+s.id, "view")
        ]) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



  <hr>

  <section>
    <h4>create source</h4>
    {{ inline_form(form, submit="create", method="post", action="/create-source") }}
  </section>

{% endblock %}
